@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch Template</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">PharmaEase</h1>
	                        <p class="hero-paragraph">The one stop for all your prescription needs!</p>
	                        <div class="hero-cta">
								<a class="button button-primary" href="Identity/Account/Register">Register Now</a>
								<a class="button button-primary" href="Identity/Account/Login">Login</a>
							</div>
                            <div class="lights-toggle">
									<input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch">
								</div>
						</div>
						<div class="hero-media">
							<div class="header-illustration">
								<img class="header-illustration-image asset-dark" src="dist/images/header-illustration-dark.svg" alt="Header illustration">
							</div>
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-dark" src="dist/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">
								<img class="hero-media-image asset-dark" src="dist/images/pharmaim.jpg" alt="Hero media">
							</div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
						<div class="features-header text-center">
							<div class="container-sm">
								<h2 class="section-title mt-0">The Product</h2>
	                            <p class="section-paragraph">Our system manages your prescriptions and delivers them automatically to your door step!</p>
								<div class="features-image">
									<img class="features-illustration asset-dark" src="dist/images/features-illustration-dark.svg" alt="Feature illustration">
									<img class="features-box asset-dark" src="dist/images/image1.JPG" alt="Feature box">
									<img class="features-illustration asset-dark" src="dist/images/features-illustration-top-dark.svg" alt="Feature illustration top">
							</div>
                        </div>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img class="asset-dark" src="dist/images/feature-01-dark.svg" alt="Feature 01">
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">View</h3>
                                    	<p class="text-sm mb-0">Using our software you can view your prescriptions as a user or create prescriptions as a doctor, all in one convenient place.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img class="asset-dark" src="dist/images/feature-02-dark.svg" alt="Feature 02">
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Manage</h3>
                                    	<p class="text-sm mb-0">As a Doctor or Pharmacist you can use our system to accomplish your needs of managing precsirptions. Pharmacists and Doctors are given different levels of permissions to suit their needs.</p>
									</div>
								</div>
                            </div>
							<div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img class="asset-dark" src="dist/images/feature-03-dark.svg" alt="Feature 03">
                                    </div>
									<div class="feature-content">
                                    	<h3 class="feature-title mt-0">Delivery</h3>
                                    	<p class="text-sm mb-0">Deliveries for patients are handled by the system automatically so there is no need for a user to leave their house. Their prescription will arrive at their door!</p>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="dist/js/main.min.js"></script>
</body>
</html>
